# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Cache - Trunk"
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [.trunk/trunk.yaml]

permissions: read-all

jobs:
  cache_trunk:
    name: Cache Trunk
    runs-on: ["ghar-set-zoo"]
    permissions:
      actions: write

    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Trunk Check
      uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
      with:
        check-mode: populate_cache_only
