# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Check - Trunk"
on: [pull_request]
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  trunk_check:
    name: Trunk Check Runner
    runs-on: ["ghar-set-zoo"]
    permissions:
      checks: write # For trunk to post annotations
      contents: read # For repo checkout
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

    - name: Trunk Check
      uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1
